:root{
    
    --primary: rgb(2, 76, 172);
    --black: rgb(0, 0, 0);

}

body{
    background-color: var(--primary);
    margin: 0;
}

header{
    height: 30px;
    width: 100vw;
    
}

.contenu{
    padding-top: 9%;
    padding-bottom: 9%;
    height: 10rem ;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenu form{
    margin: auto;
    align-items: center;
    justify-content: center;
}

.formInput{
    height: 45px;
    display: flex;
}




.selectInput{
    height:100%;
    width: min-content;
    padding: 5px 10px;
    border: 0;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    text-align-last: center;
    background-color: var(--black);
    color: aliceblue;
    
    
}

.inputSearch {
    height: 100%;
    width: 900px;
    border-radius: 0px 50px 50px 0px;
    padding-left: 10px;
    border: 0;
    background-color: var(--black);
    color: aliceblue;
}




.swiper {
    width: 95%;
    
}




.swiper-wrapper {
    width: 100%;
    display: flex;
}

.swiper-slide {
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
}



.swiper-slide {
    width: 350px!important;
    
    
}

.swiper-button-prev{
    left: -10px!important;
}



/* modi produit */

.modi-produit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.modi-produit label {
    color: aliceblue;
    padding: 4px;


}


.modi-produit .form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
}



.modi-produit .form-group button {
    color: aliceblue;
    background-color: var(--black);
    padding: 10px 15px;
    border: solid 1px aliceblue;
    width: max-content;
    cursor: pointer;
}

.modi-produit .select {
    background-color: var(--black);
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    width: min-content;
}





/* ajout produit */

.ajout-produit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.ajout-produit label {
    color: aliceblue;
    padding: 4px;
    

}


.ajout-produit .form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
}



.ajout-produit .form-group button {
    color: aliceblue;
    background-color: var(--black);
    padding: 10px 15px;
    border: solid 1px aliceblue;;
    width: max-content;
    cursor: pointer;
}

.ajout-produit .select {
    background-color: var(--black);
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    width: min-content;
}



.invalid-feedback{
    background-color: black;
    width: max-content;
    font-size: 15px;
    font-weight: 900;
    color: red;
    padding: 2px 5px ;
}


.db-n{
    display: none;
}




