#modale {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.704);
    height: 100%;
    width: 100%;
    z-index: 2;
}
#modale .contenu-m {
    width: 500px;
    height: 600px;
    background-color: var(--primary);
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}


#modale #bouton-ferme {
    height: 30px;
    width: 30px;
    background-color:rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    position: relative;
    top: -27px;
    left: -265px;
}

#modale #bouton-ferme:hover {
    background-color: rgb(109, 3, 3);
    color: aliceblue;
}

#modale h1 {
    font-size: 32px;
    color: aliceblue;
}

#modale-on {
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    
}

 .contenu-md {
    width: 500px;
    height: 600px;
    background-color: var(--primary);
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items:center;
    flex-direction: column;
    


}

.contenu-md h1 {
    font-size: 32px;
    color: aliceblue;
}


.contenu-md #bouton-ferme {
    height: 30px;
    width: 30px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana;
    position: relative;
    top: -27px;
    left: -265px;
    
}

.contenu-md #bouton-ferme:hover {
    background-color: rgb(109, 3, 3);
    color: aliceblue;
}



#modale form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-input input{
    width: 70%;
    height: 30px;
}



.button-md{
    height: min-content;
    width: max-content;
    background-color: rgb(70, 70, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.button-b{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.teste {
    background-color: black;
    color: aliceblue;
    padding: 7px 15px;
    height: max-content;
    width: max-content;
    font-size: 15px;
    margin: 0;
    border: solid 2px rgb(47, 47, 47);
}

.teste:hover{
    background-color: rgb(67, 66, 66);
        color: aliceblue;
}

.menu-modal{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 20px;
}



#modale-sup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.704);
    height: 100%;
    width: 100%;
    z-index: 2;
}

#modale-sup .contenu-m {
    width: max-content;
    height: max-content;
    background-color: red;
    color: aliceblue;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modale-sup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#bt-ferme, #bt-ok{
    color: aliceblue;
    background-color: black;
    padding: 5px 10px;
    font-size: 15px;
    border: solid 2px rgb(100, 100, 100);
}